* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(28, 27, 27);
    height: 100vh;
    
}

    .particles {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      z-index: -1;
    }

    .particles span {
      position: absolute;
      display: block;
      width: 6px;
      height: 6px;
      background: #18ff6d;
      border-radius: 50%;
      opacity: 0.8;
      bottom: -10px;
      animation: move 15s linear infinite;
    }

    @keyframes move {
      0% {
        transform: translateY(0) translateX(0) scale(1);
        opacity: 0.8;
      }
      50% {
        transform: translateY(-50vh) translateX(20px) scale(1.3);
        opacity: 1;
      }
      100% {
        transform: translateY(-110vh) translateX(-20px) scale(0.8);
        opacity: 0;
      }
    }

    /* Generate 50 particles with random positions & durations */
    .particles span:nth-child(n) {
      left: calc(2% * var(--i));
      animation-duration: calc(10s + var(--i) * 0.3s);
      animation-delay: calc(var(--i) * 0.2s);
    }



ul {
    list-style: none;
    display: flex;
    height: 100px;
    border-bottom: 3px solid rgb(111, 255, 1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    flex-wrap: wrap;




}


li  {
    margin: 40px 40px;
    
}

a{
    text-decoration: none;
    color: white;
}

li a:hover {
    cursor: pointer;
    color: rgb(81, 255, 0);
    text-shadow: 0 0 5px rgb(81, 255, 0),

        0 0 5px rgb(81, 255, 0),
        0 0 5px rgb(81, 255, 0);
}

.hero {
    height: 500px;
    /* border: 2px solid white; */

}

.hero img {
    height: 500px;
    /* position: relativ; */
    top: 2%;
    left: 35%;

    position: relative;



    /* right: 20%; */

}

.img {

    border: 2px solid rgb(116, 232, 93);
    border-bottom: 10px;
    border-radius: 50%;
    height: 350px;
    top: 4%;
    left: 60%;
    width: 300px;
    position: relative;
    display: inline-block;
    box-shadow: 50px 0px 5px rgb(21, 52, 3),
        50px 0 10px rgb(131, 255, 7),
        0 0 10px rgb(124, 255, 9),
        0 0 10px rgb(22, 255, 45),
        0 0 10px rgb(67, 255, 5),
        0 0 10px rgb(20, 255, 24);






}

.hero h1 {
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 8px #2dff0d,
        0 0 8px #2dff0d,
        0 0 8px #2dff0d,
        0 0 8px #2dff0d,
        0 0 8px #2dff0d,
        0 0 8px #2dff0d;


    /* text-shadow: offset-x offset-y blur-radius color; */


    display: inline-block;
    position: absolute;
    right: 60%;
    top: 55%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
}


.buttons {
    color: pink;
    position: absolute;
    right: 65%;
    top: 70%;



}


button {
    margin: 40px 10px;
    height: 40px;
    width: 120px;
    background-color: black;
    border: 2px solid rgb(68, 255, 0);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(114, 255, 27);
    color: black;
    font-weight: bold;
    box-shadow: 0 0 5px rgb(91, 240, 22),
        0 0 5px rgb(8, 255, 8),
        0 0 5px rgb(8, 255, 8),
        0 0 5px rgb(8, 255, 8),
        0 0 5px rgb(8, 255, 8),
        0 0 5px rgb(8, 255, 8);


}




#about {
    height: 500px;
    /* border: 2px solid white; */
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 2.7rem;
    padding-top: 50px;
    margin-top: 250px;
}

.about h1,
.skills h1,
.Contact h1 {
    text-shadow: 0 0 5px rgb(98, 255, 0),
        0 0 10px rgb(89, 255, 0),
        0 0 20px rgb(94, 255, 0),
        0 0 20px rgb(140, 255, 0),
        0 0 10px rgb(64, 255, 0);
}



.about p {
    height: 100px;
    background-color: rgba(rgb(255, 255, 255), rgb(255, 255, 255), rgb(253, 253, 253), 0.5);
    backdrop-filter: blur(10px);
    margin: 25px auto;
    width: 1000px;
}


/* skills */


.skills {
    height: 500px;
    /* border: 2px solid white; */
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 2.7rem;
    padding-top: 50px;
    margin-top: 200px;

}

.icons {
    margin: 160px auto;
    height: 300px;
    width: 1100px;
    /* border: 2px solid white; */
}


.icon {
    font-size: 100px;
    color: white;
    margin: 20px 20px;
}

.icon:hover {
    cursor: pointer;


}


.Contact {
    display: flex;
    flex-direction: column;
    height: 600px;
    /* border: 2px solid white; */
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 2.7rem;
    padding-top: 50px;
    margin-top: 100px;

}


.Contact form {
    margin: 50px auto;
    height: 400px;
    width: 600px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.Contact input,
.Contact textarea {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

footer {
    height: 100px;
    /* border: 2px solid white; */
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 30px;
    margin-top: 100px;
    background-color: black;

}


/* reveal



/* Base state: hidden + smooth transition (NO transform here) */
.reveal {
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.9s ease;
    will-change: transform, opacity;
    /* optional stagger support */
    transition-delay: var(--reveal-delay, 0s);
}

/* Direction offsets apply ONLY before activation */
.reveal:not(.active).left {
    transform: translateX(-140px);
}

.reveal:not(.active).right {
    transform: translateX(140px);
}

.reveal:not(.active).top {
    transform: translateY(-140px);
}

.reveal:not(.active).bottom {
    transform: translateY(140px);
}

/* Active (visible) */
.reveal.active {
    opacity: 1;
    transform: none;

}

/* media  */


@media (max-width:1270px){
    .hero h1{
        top: 30%;
    }

    .buttons{
        top: 40%;
    }
}

@media (max-width: 1023px) {
    .hero h1 {
        font-size: 5rem;
        right: 28%;
        top: 55%;
    }

    .buttons {
        right: 24%;
        top: 65%;
    }

    .buttons button {
        width: 14rem;
        height: 4rem;
    }

    .img {
        height: 350px;
        width: 350px;
        left: 34%;
        top: 6%;
    }

    .hero img {
        left: -3%;
        height: 550px;

        top: 8%;
    }

    .about {
        /* margin-top: 250px ; */
        top: 80%;
        position: absolute;
        margin: 300px 50px;

    }

    .skills {
        margin-top: 1700px;
        height: 400px;
    }

    .icons {
        margin: 50px auto;
    }

    .Contact {
        position: relative;
        top: 10%;
        margin: 250px 0px;
        height: 270px;
    }

    .Contact input,
    textarea {
        margin: 20px 0px;
    }



    /* .about p {
        width: 90%;
        font-size: 1.2rem;
    } */
    /* 
    .about h1 {
        font-size: 1.5rem;
    } */

    .about p {
        width: 90%;
    }

    .icons {
        width: 90%;
    }

    .Contact form {
        width: 90%;
    }

    .Contact input,
    .Contact textarea {
        width: 90%;
    }
}


@media(min-width:700px) and (max-width:950px) {
    .hero img {
        left: -13%;
        top: 3%;
        position: relative;


    }

    ul {
        justify-content: space-around;
    }

    .img {
        /* position: relative; */
        left: 29%;
        height: 370px;
        width: 370px;
        /* box-shadow: 10px 0px 0; */
        box-shadow: 0px 0px 15px rgb(59, 255, 15);
    }

    .hero h1 {
        top: 60%;
        /* margin: 0px ; */
        right: 25%;
    }

    .buttons {
        top: 85%;
        right: 20%;
    }

    .about {
        top: 100%;
        position: absolute;
    }

}



@media (max-width: 600px) {

    ul li {
        margin: 40px auto;
    }


    .img {
        height: 200px;
        width: 200px;
        left: 25%;
        top: 35%;
        box-shadow: 0px 0px 15px rgb(59, 255, 15);
    }

    .hero img {
        position: absolute;
        height: 280px;
        top: 22%;
        left: 25%;
    }

    .hero h1 {
        font-size: 2rem;
        right: 28%;
        top: 60%;
    }

    .buttons {
        right: 23%;
        top: 75%;
        margin-top: 40px;
        padding: 0px 0px;

    }



    .buttons button {
        margin: 3px 3px;
        width: 100px;
        height: 40px;
    }

    .about {
        /* margin-top: 250px ; */
        top: 65%;
        position: absolute;
    }

    .skills {
        margin-top: 650px;
        height: 300px;
    }

    .icons {
        margin: 50px auto;
    }

    .Contact {
        position: relative;
        top: 10%;
        margin: 250px 0px;
        height: 350px;
    }



    .about p {
        width: 90%;
        font-size: 1.2rem;
    }

    .about h1 {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .icon {
        font-size: 50px;
        margin: 5px 5px;
    }

    input {
        margin: 10px auto;
    }



    footer {
        font-size: 1rem;
        margin-top: 20px;
    }

}

@media (min-width:341px) and (max-width: 450px) {

    ul li {
        margin: 40px auto;
    }


    .img {
        height: 250px;
        width: 250px;
        left: 20%;
        top: 15%;
        box-shadow: 0px 0px 15px rgb(59, 255, 15);
    }

    .hero img {
        position: absolute;
        height: 320px;
        top: 10%;
        left: 22%;
    }

    .hero h1 {
        font-size: 3rem;
        right: 17%;
        top: 53%;
    }

    .buttons {
        right: 21%;
        top: 65%;
        /* margin-top: 0px; */
        padding: 0px 0px;

    }



    .buttons button {
        margin: 3px 3px;
        width: 100px;
        height: 40px;
    }

    .about {
        /* margin-top: 250px ; */
        top: 65%;
        position: absolute;
    }

    .skills {
        margin-top: 650px;
        height: 300px;
    }

    .icons {
        margin: 50px auto;
    }

    .Contact {
        position: relative;
        top: 10%;
        margin: 150px 0px;
        height: 270px;
    }



    .about p {
        width: 90%;
        font-size: 1.2rem;
    }

    .about h1 {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .icon {
        font-size: 50px;
        margin: 5px 5px;
    }

    input {
        margin: 10px auto;
    }



    footer {
        font-size: 1rem;
    }
}

@media (max-width: 340px) {

    ul li {
        margin: 40px auto;
    }


    .img {
        height: 200px;
        width: 200px;
        left: 20%;
        top: 10%;
        box-shadow: 0px 0px 15px rgb(59, 255, 15);
    }

    .hero img {
        position: absolute;
        height: 280px;
        top: 11%;
        left: 20%;
    }

    .hero h1 {
        font-size: 2rem;
        right: 20%;
        top: 70%;
    }

    .buttons {
        right: 15%;
        /* top: %; */
        margin-top: 100px;
        padding: 0px 0px;

    }



    .buttons button {
        margin: 3px 3px;
        width: 100px;
        height: 40px;
    }

    .about {
        /* margin-top: 250px ; */
        top: 65%;
        position: absolute;
    }

    .skills {
        margin-top: 650px;
        height: 300px;
    }

    .icons {
        margin: 50px auto;
    }

    .Contact {
        position: relative;
        top: 10%;
        margin: 150px 0px;
        height: 270px;
    }



    .about p {
        width: 90%;
        font-size: 1.2rem;
    }

    .about h1 {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .icon {
        font-size: 50px;
        margin: 5px 5px;
    }

    input {
        margin: 10px auto;
    }



    footer {
        font-size: 1rem;
    }
}


@media (width:540px) and (height:720px) {
    .img {
        top: 20%;
        left: 30%;
    }

    .hero img {
        top: 15%;
        left: 31%;
    }

    .hero h1 {
        top: 60%;
        left: 31%;
        font-size: 2.4rem;
    }

    .buttons {
        left: 28%;
    }
}


@media(width:600px) and (height:1024px) {
    .img {
        top: 20%;
        left: 10%;
        height: 250px;
        width: 250px;
    }

    .hero img {
        top: 9%;
        left: 30%;
        width: 250px;
        height: 350px;
    }

    .hero h1 {
        top: 55%;
        left: 32%;
        font-size: 2.4rem;
    }

    .buttons {
        left: 32%;
        top: 65%;
    }

}

@media(width:712px) and (height:1138px) {
    .img {
        top: 20%;
        left: 32%;
        height: 250px;
        width: 250px;
    }

    .hero img {
        top: 15%;
        left: -5%;
        width: 250px;
        height: 350px;
    }

    .hero h1{
        top:53%;
        left:16%
    }

    .buttons{
        left: 22%;
      
    }
    .buttons button{
        width: 11rem;
    }

}
